html,
body {
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
    background-image: url('/static/images/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-position: right;
    background-size: cover;
    margin-top: -1.5em;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background: none;
}

.text {
    font-size: 30px;
    color: navajowhite;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 0px 15px 12px #000;
    margin-top: 0;
}

.line {
    width: 800px;
    height: 8px;
    background-color: black;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 10%;
    box-shadow: 0px 15px 12px 0px #000;
}

.link {
    background-color: darkslategrey;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    background-color: #333;
    color: #17ff8d;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
    margin-top: -4px;
}