form {
    width: 500px;
    margin-top: 100px;
    margin-left: 700px;
    text-align: center;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/
    /*background = gradient + image pattern combo*/
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        background-color: rgba(155, 89, 182, 0.6);
    }
    to {
        background-color: rgba(196, 102, 0, 0.6);
    }
}

body {
    background: none;
}